@import "../../.cache/wal/colors-waybar.css";

* {
	border: none;
	font-family: "Monaspace Neon";
	font-size: 16px;
}

/*****************************************************************************************/
window#waybar {
	background: transparent;
	/*background-color: alpha(@background, 0.2);*/
	border-radius: 60px;
}

/*****************************************************************************************/
#custom-cpu_btop, #custom-gpu_temp, #memory, #power-profiles-daemon, 
#pulseaudio, #network, #clock, #custom-power, #tray {
	opacity: 1.0;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
	color: @foreground;
	padding: 8px 15px;
}

/*****************************************************************************************/
#custom-power {
	background: @color1;
	color: @background;
	margin: 0 0 0 10px;
	padding: 0px 15px;
	border-radius: 12px;
	font-size: 22px;
	font-weight: bold;
	border-radius: 12px 0 0 12px;
}

/*****************************************************************************************/
#custom-cpu_btop {
	background: @color4;
	color: @background;
	padding: 15px 15px;
}

/*****************************************************************************************/
#custom-gpu_temp {
	background: @color2;
	color: @background;
	padding: 15px 15px;
}

/*****************************************************************************************/
#memory {
	background: @color3;
	color: @background;
	padding: 15px 15px;
}

/*****************************************************************************************/
#power-profiles-daemon {
	background: @color8;
	color: @background;
	padding: 15px 15px;
	border-radius: 0 12px 12px 0;
}

/*****************************************************************************************/
#workspaces {
	border-radius: 17px;
	padding: 12px 12px;
	background: alpha(@background, 0.4);
	opacity: 0.8; 
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.modules-left > widget > #workspaces {
	margin-left: 30px;
}

#workspaces button {
	color: rgba(255,255,255,0.7);
	border: none;
	text-shadow: none;
}

#workspaces button.active {
	color: #ffffff;
	border: none;
	text-shadow: 0px 0px 4px #ffffff, 0px 0px 8px #ffffff;
}

#workspaces button.empty {
	color: rgba(255,255,255,0.35);
	border: none;
}

#workspaces button.empty.active {
	color: #ffffff;
	border: none;
	text-shadow: 0px 0px 6px #ffffff, 0px 0px 12px #ffffff;
}

/*****************************************************************************************/
#clock {
	background: @color2;
	color: @background;
	border-radius: 12px;
	font-size: 18px;
}

/*****************************************************************************************/
#tray {
	margin: 0 0 0 15px;
	border-radius: 12px 0 0 12px; 
	background: @color1;
	color: @background;
	min-width: 20px; 
}

#tray image {
	margin: 0 3px;
}

/*****************************************************************************************/
.modules-right > widget:first-child #pulseaudio {
	margin-left: 15px;
	border-radius: 12px 0 0 12px;
}

#pulseaudio {
	background: @color5;
	color: @background;
}

/*****************************************************************************************/
#network {
	margin: 0 10px 0 0;
	border-radius: 0 12px 12px 0;
	background: @color6;
	color: @background;
}
